<div class="container">
  @if (isFetching() && !error()) {
  <p class="fallback-text">Producten aan het ophalen...</p>
  } @if (error()) {
  <p class="fallback-text">{{ error() }}</p>
  } @if (categoryProducts()) { @for (product of categoryProducts(); track
  product.id) {
  <div class="card" style="width: 18rem">
    <img [src]="product.imageUrl" class="card-img-top" alt="..." />
    <div class="card-body">
      <h3 class="card-title">
        {{ product.name }} - €{{ product.price | number : "1.2-2" }}
      </h3>
      <p class="card-text">
        {{ product.description }}
      </p>
      <a href="#" class="btn btn-primary">Plaats in winkelwagen </a>
    </div>
  </div>
  }} @else if (categoryProducts().length === 0) {
  <p class="fallback-text">
    Er is iets verkeerd gegaan bij het ophalen van de producten. Probeer het
    later nog eens.
  </p>
  }
</div>
