<nav class="nav">
  @if (isFetching() && !error()) {
  <p class="fallback-text">Categorieën aan het ophalen...</p>
  } @if (error()) {
  <p class="fallback-text">{{ error() }}</p>
  } @if (categorys()) {
  <ul>
    <li class="nav-item home">
      <a class="nav-link" routerLink="" routerlinkActive="router-link-active">
        <img src="assets/images/home.png" alt="home" class="nav-image" />
      </a>
    </li>
    @for (category of categorys(); track category.id) {
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="category/{{ category.id }}"
        (click)="selectCategory(category.id)"
        >{{ category.name }}</a
      >
    </li>
    }

    <div class="right-nav">
      <li class="nav-item user">
        <a
          class="nav-link"
          routerLink="login"
          routerlinkActive="router-link-active"
        >
          <img
            src="assets/images/user-avatar.png"
            alt="user avatar"
            class="nav-image"
          />
        </a>
      </li>

      <li class="nav-item cart">
        <a
          class="nav-link"
          routerLink="winkelwagen"
          routerlinkActive="router-link-active"
        >
          <img
            src="assets/images/shopping-cart.png"
            alt="shoppingcart"
            class="nav-image"
          />
        </a>
      </li>
    </div>
  </ul>
  }
</nav>
