<nav class="nav">
  @if (isFetching() && !error()) {
  <p class="fallback-text">Categorieën aan het ophalen...</p>
  } @if (error()) {
  <p class="fallback-text">{{ error() }}</p>
  } @if (categorys()) {
  <ul>
    <li class="nav-item home" (click)="navigateTo('')">
      <img src="assets/images/home.png" alt="home" class="nav-image" />
    </li>
    @for (category of categorys(); track category.id) {
    <li class="nav-item" (click)="navigateTo('category/' + category.id)">
      {{ category.name }}
    </li>
    }

    <div class="right-nav">
      @if (userRole() !== 'ADMIN') {
      <li
        class="nav-item user"
        (click)="navigateTo(userLoggedIn() ? '/mijnAccount' : '/login')"
      >
        <img
          src="assets/images/user-avatar.png"
          alt="user avatar"
          class="nav-image"
        />
      </li>
      <li class="nav-item cart" (click)="navigateTo('winkelwagen')">
        <img
          src="assets/images/shopping-cart.png"
          alt="shoppingcart"
          class="nav-image"
        />
      </li>
      } @if (userRole() === 'ADMIN') {
      <li class="nav-item user" (click)="navigateTo('/adminPortaal')">
        <img src="assets/images/shop.png" alt="user avatar" class="nav-image" />
      </li>
      <li class="nav-item logout" (click)="onLogOut(); navigateTo('/login')">
        <img
          src="assets/images/logout.png"
          alt="user avatar"
          class="nav-image"
        />
      </li>
      }
    </div>
  </ul>
  }
</nav>
