<nav class="nav">
  <ul>
    <li class="nav-item">
      <a class="nav-link" href="#">Aquarel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Aryl</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pastelkrijt</a>
    </li>

    <li class="nav-item cart">
      <a
        class="nav-link"
        routerLink="winkelwagen"
        routerlinkActive="router-link-active"
      >
        <img
          src="assets/images/shopping-cart.png"
          alt="shoppingcart"
          class="shoppingcart"
        />
      </a>
    </li>
  </ul>
</nav>
