<div class="cart-container">
  <h2>Winkelwagen</h2>

  <div class="cart-item">
    <div class="item-details">
      <img
        src="assets/images/testSchilderij.png"
        alt="Laptop"
        class="item-image"
      />
      <span>Blauw schilderij</span>
    </div>
    <span class="item-price">Price: $1200</span>
  </div>
  <div class="cart-item">
    <div class="item-details">
      <img
        src="assets/images/testSchilderij.png"
        alt="Laptop"
        class="item-image"
      />
      <span>Blauw schilderij</span>
    </div>
    <span class="item-price">Price: $1200</span>
  </div>
  <div class="cart-item">
    <div class="item-details">
      <img
        src="assets/images/testSchilderij.png"
        alt="Laptop"
        class="item-image"
      />
      <span>Blauw schilderij</span>
    </div>
    <span class="item-price">Price: $1200</span>
  </div>

  <div class="cart-total">Total: $2400</div>
  <a href="#" class="btn btn-primary">Ga naar afrekenen</a>
</div>
