<div class="cart-container">
  <h2>Winkelwagen</h2>
  @for (product of productsInCart(); track product.id) {
  <div class="cart-item">
    <div class="item-details">
      <img
        [src]="product.imageUrl"
        [alt]="'schilderij genaamd ' + product.name"
        class="item-image"
      />
      <span>{{ product.name }}</span>
    </div>
    <span class="item-price">€{{ product.price | number : "1.2-2" }}</span>
  </div>
  }
  <div class="cart-total">Totaal: €{{ totalPrice() | number : "1.2-2" }}</div>
  <a href="#" class="btn btn-primary">Ga naar afrekenen</a>
</div>
