<div class="container">
  @for (i of loopArray; track i) {
  <div class="card" style="width: 18rem">
    <img
      src="assets/images/testSchilderij.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h3 class="card-title">Blauw schilderij - €10,99</h3>
      <p class="card-text">
        Dit is een mooi schilderij met een blauwe kleur. Het is gemaakt van hout
        en is 30 bij 40 cm groot.
      </p>
      <a href="#" class="btn btn-primary">Plaats in winkelwagen </a>
    </div>
  </div>
  }
</div>
