/* You can add global styles to this file, and also import other style files */
.btn-primary {
    background-color: #142176;
    color: white;
    padding: 0.5rem;
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.btn-primary:hover {
    background-color: #232f7a;
    border-width: 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}